__pycache__/
*.pyc
venv/
.env
data/raw/
data/processed/clean_retail.csv
data/processed/feature_retail.csv
data/processed/rfm_train_clusters.csv
data/predictions
mlruns/
models/
.ipynb_checkpoints/
.DS_Store
churn_pipeline.yaml
